* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

header nav ul {
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  width: 50%;
  padding: 1rem;
}

#toggle:checked + nav ul {
  display: none;
}

#toggle {
  display: none;
}

@media screen and (width >= 768px) {
  .toggler {
    display: none;
  }

  header nav ul {
    display: flex !important;
    flex-direction: row;
    position: static;
    width: auto;
    padding: 0;
  }
}
